#messages {
 background-color: black;
 border-radius: 15px;
 margin: 20px;
 padding: 5px;
 color: white;
 font-family: 'Source Sans Pro', sans-serif;
 #newMessages {
   border: 1px solid white;
   margin: 1%;
   padding: 1%;
   border-radius: 15px;
   background-color: black;
   overflow: auto;
   margin-bottom: 5px;
   height: 120px;
   width: 100%;
   font-family: 'Source Sans Pro', sans-serif;
   small {
     font-size: 12pt;
   }
 }
 #expandMessages {
   background-color: transparent;
   border: 0;
 }
 #expandMessages:hover {
  color: white;
  background-color: black;
 }
 #messageInputArea {
   border: 1px solid black;
   margin: 1%;
   padding: 1%;
 }
}