#messages {
 border-radius: 15px;
 margin: 20px;
 padding: 1%;
 color: white;
 font-family: 'Source Sans Pro', sans-serif;
 background-image: url("../../images/background.png");
 background-attachment: fixed;
 #newMessages {
   border: 2px solid white;
   margin: 1%;
   padding: 1%;
   border-radius: 15px;
   overflow: auto;
   margin-top: 5px;
   height: 240px;
   width: 100%;
   font-family: 'Source Sans Pro', sans-serif;
   small {
     font-size: 12pt;
   }
 }
 #expandMessages {
   background-color: transparent;
   border: 0;
 }
 #expandMessages:hover {
  color: white;
  background-color: grey;
 }
 #messageInputArea {
   border: 1px solid black;
   border-radius: 10px;
   margin: 1%;
   padding: 1%;
   width: 90%;
 }
}