#events {
  color: white;
  font-family: 'BenchNine', sans-serif;
  background-color: black;
  border-radius: 15px;
  margin-top: 1%;
  margin: 1%;
  padding: 1%;
  background-image: url("../../images/background.png");
  background-attachment: fixed;
}

.eventInfo {
  color: white;
  text-align: center;
  border-radius: 20px;
  margin: 1%;
  padding: 1%;
  margin-right: 5%;
  margin-left: 5%;
  border: 2px solid white;
}

.taskInfo {
  padding: 2%;
}

.deleteButton {
  margin-left: 20px;
  padding: 1px;
}

.event-edit-button {
  margin-left: 25px;
  padding: 1px;
}

.form-check-label {
  font-size: 30px;
}

.addEvent {
  margin-right: 30px;
  margin-top: 15px;
}
