.navbar {
  color: white;
  background-color: black;
  font-size: 18pt;
  border-bottom: 2px solid red;
  height: 100px;
  font-family: 'BenchNine', sans-serif;
  // background-image: url('../../images/1.jpg');

}