@import "~bootstrap/scss/bootstrap";
@import './styles/variables';
@import '~bootstrap/scss/bootstrap';

body {
  background-color: $darkgray;
  font-family: 'BenchNine', sans-serif;
}

.addEvent {
  margin-right: 30px;
  margin-top: 15px;
}

// #add-edit-event {
//   background-image: url("../src/images/1.jpg");
// }