@import "~bootstrap/scss/bootstrap";
@import './styles/variables';
@import '~bootstrap/scss/bootstrap';

body {
  background-color: $darkgray;
  font-family: 'BenchNine', sans-serif;
  background-image: url("../src/images/home_screen.png")
}



