@import "~bootstrap/scss/bootstrap";
@import './styles/variables';
@import '~bootstrap/scss/bootstrap';

body {
  background-color: $darkgray;
}

.addEvent {
  margin-right: 20px;
  margin-top: 15px;
}
