#add-edit-article {
  color: white;
  background-color: black;
  padding: 1%;
  margin: 1%;
  border-radius: 15px;
  font-family: 'BenchNine', sans-serif;
}
.formButton {
  border-radius: 8px;
  background-color: darkgray;
  color: white;
}
.form-control {
  font-size: 16pt;
}